@{
    ViewData["Title"] = "Thông Tin Sinh Viên";
}

<div class="alert alert-info">
	<h1>@ViewData["Title"]</h1>
	<hr />
	<p>Member Id: @Model.BtqnMemberId</p>
	<p>Member UserName: @Model.BtqnUserName</p>
	<p>Member Password: @Model.BtqnPassword</p>
	<p>Member FullName: @Model.BtqnFullName</p>
	<p>Member Email: @Model.BtqnEmail</p>
</div>